/*цвет основного текста  #212121*/
/*вторичный цвет текста  #757575*/
/*основной цвет фона     #FFFFFF*/
/*вторичный темный фон  #2F303A*/
/*вторичный  светлый фон   #F5F4FA*/
/*акцент цвет            #2196F3*/
/* акцент активный       #188CE8*/

:root {
    --main-text-color:#212121;
--secondary-text-color:#757575;
--fond-color:#FFFFFF;
--fond-dark-color:#2F303A;
--fond-light-color:#F5F4FA;
--accent-color:#2196F3;
--accent-active-color:#188CE8;
}



html {
    box-sizing:border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}



/* Главная */
body {
  margin: 0;
    font-family: Roboto,sans-serif; 
    color: var(--main-text-color);
    font-style: normal;
background-color: var(--fond-color);
}


.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    }
    .section {
        padding-bottom: 94px;
        padding-top: 94px;
    }

/*Шапка*/
header {
    border-bottom: 1px solid #ECECEC;
}
.main-nav {
    display: flex;
    align-items: center;
}
    /* WebStudio */
    .logo {
        padding-top: 24px;
        padding-bottom: 24px;
        width: 145px;
        
    }
.logo {
   
    color:var(--accent-color);
   font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}
   span {
       color:var(--main-text-color);

}
   
/*Навигация сайта*/
  
ul {
       list-style-type: none;}
ul.site-nav {
    display: flex;
    padding: 0;
    margin: 0;
    margin-left: 93px;
    margin-right: 331px;
text-decoration: none;
}
ul.site-nav li.navy {
     margin-right: 50px;
    padding-top: 24px;
    padding-bottom: 24px;
 }   
ul.site-nav li.navy:nth-child(3) {
    margin-right: 0;
}
  .site-nav .link {
color: var(--main-text-color);
font-size: 14px; ;
    line-height:1.2 ;
    font-weight:500;
}
.site-nav .link:hover,
.site-nav .link:active {
    color: var(--accent-color);
}
.link-active {
    
    color: var(--accent-color);
font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
}

 /*Контакты*/
.contact {
    margin: 0;
    display: flex;
     padding: 0;
}
.info {
    padding-top: 24px;
    padding-bottom: 24px;
}
  .tel {
      margin-left: 50px;
  }
 .contact .link {
text-decoration: none;
    color:var(--secondary-text-color);
    font-size: 14px;
        line-height: 1.2;
        font-weight: 500;
}
.contact .link:hover,
.contact .link:active {
    color: var(--accent-color);
}

/* Герой*/
/* Эффективные решения для вашего бизнеса */
 .hero {
padding-bottom: 200px;
    padding-top: 200px;
    margin-top: 0;
    text-align: center;
    background-color:var(--fond-dark-color);
}
h1.hero-title {
    
    margin:0;
    margin-bottom: 30px;
        font-style: normal;
        font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
  color: var(--fond-color);
    text-transform: uppercase;
    text-align: center;
        letter-spacing: 0.06em;
}
/*заказать услугу*/

.button-order {
    
    border-radius: 4px;
    padding: 10px 32px;
    display: inline-block;
    min-width: 200px;
    color: var(--fond-color);
    font-weight: 700;
         font-size: 16px;
        line-height: 1.9;
    background-color: var(--accent-color);
    cursor: pointer;
    align-items: center;
            text-align: center;
            letter-spacing: 0.06em;
        }

.button-order:hover,
.button-order:active {
    background-color: var(--accent-active-color);
}
/*Особенности*/
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.features{
    display: flex;
    align-items: center;
}
ul.features {
    margin:0;
    letter-spacing: 0.03em;
     padding-left: 0;
    }
.features .item {
    margin-right: 30px;
        margin-bottom: 0;
        width: 270px;
}
.features .item:nth-child(4) {
    margin-right: 0;
}
.features h3 {
       margin-top: 0;
    margin-bottom: 10px;
   color: var(--main-text-color);
    font-weight: bold;
    font-size: 14px;
        line-height: 1.1;
        text-transform: uppercase;
    }
    .features p {
       
        margin-bottom: 0px;
        margin-top: 0;
    font-size: 14px;
line-height: 1.7;
color: var(--secondary-text-color);
}

      /* Чем мы занимаемся */
.duty { 
    margin: 0;
padding-bottom: 94px;
padding-top: 0;

}
ul.photo-duty {
    display: flex;
    padding: 0;
margin-top: 0;
margin-bottom: 0;
   }
 li.list {
     display: block;
     margin-right: 30px;
}
li.list:nth-child(3) {
    margin-right: 0;
}
 h2.photo-report {
 text-align: center;  
 margin-top: 0;  
margin-bottom: 50px;
   font-weight: 700;
font-size: 36px;
line-height: 1.2;
color: var(--main-text-color);

}
/*Наша команда*/
.team {
   background-color: var(--fond-light-color);
 
}
 h2.team-name {
   text-align: center;
    margin: 0;
margin-bottom: 50px;
    font-weight: 700;
        font-size: 36px;
        line-height: 1.2;
        color: var(--main-text-color);
}
ul.team-card {
    margin: 0;
    display: flex;
        text-align: center;
        padding-left: 0;
        }
.team-card li {
    display: block;
 margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        background-color: var(--fond-color);
   }
   .team-card li:nth-child(4){
       margin-right: 0;
   }
.team-card h3 {
    margin:0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: var(--main-text-color);
}
.team-card p {
     margin: 0;
font-size: 16px;
    line-height: 1.2;
    color: var(--secondary-text-color);
}
.name {
    padding-top:30px ;
    padding-bottom: 30px;
}
/*Подвал*/
footer {
background-color: var(--fond-dark-color); ;
}
.foot {
    padding-top: 60px;
    padding-bottom: 60px;
}
footer .logo {
    display: inline-block;
    padding: 0;
}
.container>a>span {
    color: var(--fond-color);
    font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
    }
  .street {
    font-style: normal;
    font-size: 14px;
        line-height: 1.2;
        color: var(--fond-color);
}
.contacts .link {
font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
}
ul.contacts {
    text-align: left;
  padding-left: 0;
  margin: 0;
  margin-right: 0;
  margin-top: 20px;
   
}
 ul.contacts li.information{
    margin-top: 9px;
}

    


   
    

/* страница Портфолио */
/* Style the buttons */
ul.box {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 50px;
        padding-left: 0;
}
.box li {
    margin-right: 8px;
    border-radius: 4px;
   }
.box li:nth-child(5) {
    margin-right: 0;
}
.key-active {
    padding: 6px 22px;
   min-width: 73px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    color: var(--fond-color);
    cursor: pointer;
    font-size: 16px;
        line-height: 1.6;
        font-weight: 500;
        }
         
.key {
    padding: 6px 22px;
    border-radius: 4px;
   color: var(--main-text-color);
border-color: var(--fond-light-color);
    background-color: var(--fond-light-color);
    font-size: 16px;
    line-height:1.6;
    font-weight: 500;
   cursor: pointer;
}
      .key:hover,
.key:active {
     color: #FFFFFF;
    background-color: var(--accent-color);
}
/*--Галерея фото--*/
ul.gallery {
    display:flex;
     flex-wrap: wrap;
padding-left: 0;
margin-top: 0;
margin-bottom: 0;

}
 .link-gallery {
     display: block;
    margin-right: 30px;
    box-sizing: border-box;
    margin-bottom: 30px;
}
.gallery li:nth-child( n + 7) {
    margin-bottom: 0;
}
.gallery li:nth-child( 3n + 3) {
    margin-right: 0;
}



.gallery h2 {
    margin: 0;
     margin-bottom: 4px;
    font-size: 18px;
        line-height: 2;
        font-weight: 700;
        letter-spacing: 0.06em;
       color: var(--main-text-color);
}
.comment {
    padding-left: 24px;
   padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #EEEEEE;
    border-right:1px solid #EEEEEE; 
    border-left: 1px solid #EEEEEE;
    
}

.gallery p {
    margin: 0px;
      font-size: 16px;
    line-height: 1.9;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}
li>a {
    text-decoration: none;
}


